body{
    background-image: url("https://i.pinimg.com/originals/9b/2e/8f/9b2e8f6c07562a1ea2c8b37df2f48af3.jpg");
    /*min-height: 500px;*/
    background-attachment: fixed; /*image wont scroll with content*/
    background-position: center; 
    background-repeat: no-repeat; /*as screen size get smaller the background will repeat--use it so background won't repeat*/
    background-size: cover; /*no matter what size the screeen is the background will stay where it is*/
    font-family: "Courier New";
}

.opacity-back{
    background:rgba(255,255,255,0.1);
    border-radius: 5%;
    text-align: center;
}

.center-heading{
    text-align:center;
    color:white;
    font-size:50px;
    /*font-family:"Courier New";*/
    font-weight:normal;
    opacity: 0.8;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}


img{
    width:500px;
    height:400px;
}

/*Media query*/
/*@media (min-width:992px){*/
/*    h3{*/
/*        font-size: 80px;*/
        
/*    }*/
    
/*}*/
/*@media (min-width:768px){*/
/*    h3{*/
/*        font-size: 100px;*/
        
/*    }*/
    
/*}*/

@media (min-width:576px){
    h1{
        font-size: 10px;
        
    }
    
}


/*Spacing*/
.px-2 {
  padding-left: 10rem ;
  padding-right: 10rem ;
}

/*Cards*/
.card{
    
}

.card-body{
    
}