body{
    background-image: url("https://i.pinimg.com/originals/9b/2e/8f/9b2e8f6c07562a1ea2c8b37df2f48af3.jpg");
    /*min-height: 500px;*/
    background-attachment: fixed; /*image wont scroll with content*/
    background-position: center; 
    background-repeat: no-repeat; /*as screen size get smaller the background will repeat--use it so background won't repeat*/
    background-size: cover; /*no matter what size the screeen is the background will stay where it is*/
    font-family: "Courier New";
}

.opacity-background{
    background:rgba(255,255,255,0.1);
    border-radius: 5%;
    text-align: center;
}

/*Text(utilities)*/
.text-sm-center{
    text-align:center;
    color:white;
    font-size:50px;
    font-weight:normal;
}
.text-sm-right{
    text-align: right;
    color:white;
}
.text-sm-left{
    text-align: left;
    color:white;
}



.container{
    padding:;
}

/*Jumbotron(component)*/
.jumbotron h{
    font-size:35px;
}

.borders{
    
}

img{
    width:500px;
    height:400px;
}

/*Media query*/
/*@media (min-width:992px){*/
/*    h3{*/
/*        font-size: 80px;*/
        
/*    }*/
    
/*}*/
/*@media (min-width:768px){*/
/*    h3{*/
/*        font-size: 100px;*/
        
/*    }*/
    
/*}*/

@media (min-width:576px){
    h1{
        font-size: 10px;
        
    }
    
}

/*Cards*/
.card{
    border-style:solid;
    border-color: white;
    background:rgba(255,255,255,0.1); ;
}

.card-body{
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    padding-bottom:20px;
}